.mobile * {
    display: none;
}

body {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    font-size: 20px;
    border-left: 3px;
    border-left-color: #454AAC;
    border-left-style: solid;
}

nav {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    justify-content: center;

}

nav div[class="pc"] {
    display: flex;
    padding: 20px;
    gap: 30px;
    justify-content: center;
}


nav a {
    text-decoration: none;
    color: black;
}

nav a:hover{
    text-decoration: underline;
    color:#454AAC;
}

.home_button:hover + .mobile {
    content: url("images/home.png");
    display: block;
}

header, footer {
    background-color: #FFFFFF;
    background-size: cover;
}

main {
    background-image: url(images/Bg-image2.jpg);
    background-attachment: fixed;
    background-size: cover;
    border-top: solid #FFFFFF;
}

main section{
    background-color: #454AAC;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    row-gap: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    border-radius: 10px;
    padding: 10px;
}

.grid div {
    border-radius: 10px;
    margin: 10px;
    padding: 3%;
    text-align: justify;
}

.no-underline {
    text-shadow: 5px 5px #00000025;
}

.section-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: aqua;
}

.section-2 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    background-color: bisque;
}

.section-3 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    background-color: rgb(88, 104, 118);
}

.couleur {
    color:beige;
}

h1 {
    font-family: "Rouge Script", cursive;
    font-size: 60px;
}

h1, header {
    text-align: center;
}

em {
    font-weight: 800;
    color:rgb(215, 65, 192)
}

.lien {
    border-radius: 4px;
    background-color: rgb(215, 65, 192);
    text-decoration: none;
    color: black;
    padding: 5px;
    margin: auto;
}

.lien:hover{
    background-color: black;
    color: rgb(215, 65, 192);
}

.conteneur {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    gap: 5px;
    align-items: center;
}

.logo {
    text-align: left;
    margin-left: 10px;
}

.no-underline {
    text-decoration: none;
    color:black;
}

.header {
    width: 30%;
    display: flex;
    justify-content: end;
}

.main {
    background-attachment: fixed;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    border: solid;
    background: linear-gradient(to left, rgb(224, 137, 211), rgb(215, 65, 192));
    border-radius: 20px 20px 20px 20px ;
}


.logo img[class="twitter"]:hover {
    content: url(images/twitter_b.png);
}

.logo img[class="insta"]:hover {
    content: url(images/instagram_b.png);
}

.logo img[class="youtube"]:hover {
    content: url(images/youtube_b.png);
}

.produits img{
    max-width: 95%;
    height: auto;
    display: block;
    border-radius: 10px;
    margin: auto;
}

form {
    align-items: end;
}

iframe {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}


@media screen and (max-width: 1000px) {
    body {
        font-size: 15px;
        border-left-style: none;
    }

    .conteneur {
        display: block;
        align-items: center;
    }

    .mobile * {
        display: block;
    }

    .pc *, .pc, .logo, .hidden{
        display: none;
    }

    nav {
        justify-content: flex-start;
    }

    .home_button {
        display: block;
    }

    .grid {
        display: flex;
        flex-direction: column;
    }
}

