body {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    font-size: 20px;
}

nav {
    display: flex;
    grid-template-rows: 50% 50%;
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    padding: 20px;
    gap: 20px;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: black;
}

.left a, .right form{
    align-items: start;
    padding-right: 10px;
    padding-left: 10px;
}

nav a:hover{
    text-decoration: underline;
    color:#454AAC;
}

header, footer {
    background-color: #FFFFFF;
    background-size: cover;
}

main {
    background-image: url(images/Bg-image2.jpg);
    background-attachment: fixed;
    background-size: cover;
}

main section{
    background-color: #454AAC;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 30px;
    row-gap: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 10px;
    padding: 10px;
}

.grid div {
    border-radius: 10px;
    margin: 10px;
}

.section-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: aqua;
}

.section-2 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    background-color: bisque;
}

.section-3 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    background-color: rgb(88, 104, 118);
}

h1 {
    font-family: "Rouge Script", cursive;
    font-size: 60px;
}

h1, header {
    text-align: center;
}

.conteneur {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    gap: 5px;
    align-items: center;
}

.logo {
    text-align: left;
    margin-left: 10px;
}

.no-underline {
    text-decoration: none;
    color:black;
}

.header {
    width: 30%;
    display: flex;
    justify-content: end;
}

.main {
    background-attachment: fixed;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    border: solid;
    background: linear-gradient(to left, rgb(224, 137, 211), rgb(215, 65, 192));
    border-radius: 20px 20px 20px 20px ;
}


.logo img[class="twitter"]:hover {
    content: url(images/twitter_b.png);
}

.logo img[class="insta"]:hover {
    content: url(images/instagram_b.png);
}

.logo img[class="youtube"]:hover {
    content: url(images/youtube_b.png);
}

form {
    align-items: end;
}

iframe {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}


@media all and (min-width: 200px) and (max-width: 600px) {
    .logo {
        display: none;
    }

    .conteneur {
        display: block;
        align-items: center;
    }

    nav div {
        display: none;
    }
}
